
			<!-- Breadcrumb row END -->
			<div class="content-block">
				<div class="section-area section-sp1">
					<div class="container">
						<div class="row">
							<!-- Left part start -->
							<div class="col-lg-8 col-xl-8">
								<!-- blog start -->
								<div class="recent-news blog-lg">
									<div class="action-box blog-lg">
										<img src="/Layout/images/blog/default/thum1.jpg" alt="">
									</div>
									<div class="info-bx">
										<h5 class="post-title"><a href="#">چطور موثر مطالعه کنیم همراه 20 راهکار</a></h5>
										<p>
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
											چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
										</p>
										<p>
											برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
											کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با
											نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
											فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
											سخت تایپ به پایان رسد
										</p>
										<p>
											در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان
											رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
											اساسا مورد استفاده قرار گیرد.
										</p>
										<p>
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
											چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
											نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
										</p>
										<div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
										<div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
										<h6>اشتراک</h6>
										<div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
									</div>
								</div>
								<!-- blog END -->
							</div>
							<!-- Left part END -->
							<!-- Side bar start -->
							<div class="col-lg-4 col-xl-4">
								<aside class="side-bar sticky-top">
						<ul class="course-features">
							<li>
								<i class="ti-book"></i> <span class="label">موضوعات</span> <span class="value">
									طراحی وبسایت
								</span>
							</li>
							<li>
								<i class="ti-help-alt"></i> <span class="label">برگذارکننده</span> <span class="value">
									مجتمع
									آموزشی اجوکمپ
								</span>
							</li>
							<li>
								<i class="ti-time"></i> <span class="label">محل</span> <span class="value">
									میدان ونک -
									آموزشگاه فرشته
								</span>
							</li>
							<li>
								<i class="ti-stats-up"></i> <span class="label">سطح مهارت</span> <span class="value">ابتدایی</span>
							</li>
							<li>
								<i class="ti-smallcap"></i> <span class="label">زبان</span> <span class="value">فارسی</span>
							</li>
							<li>
								<i class="ti-user"></i> <span class="label">دانشجویان</span> <span class="value">32</span>
							</li>
							<li>
								<i class="ti-check-box"></i> <span class="label">ارزیابی</span> <span class="value">بله</span>
							</li>
						</ul>
									<div class="widget widget_gallery gallery-grid-4">
										<h6 class="widget-title">گالری</h6>
										<ul>
											<li>
												<div><a href="#"><img src="/Layout/images/gallery/pic2.jpg" alt=""></a></div>
											</li>
											<li>
												<div><a href="#"><img src="/Layout/images/gallery/pic1.jpg" alt=""></a></div>
											</li>
											<li>
												<div><a href="#"><img src="/Layout/images/gallery/pic5.jpg" alt=""></a></div>
											</li>
											<li>
												<div><a href="#"><img src="/Layout/images/gallery/pic7.jpg" alt=""></a></div>
											</li>
											<li>
												<div><a href="#"><img src="/Layout/images/gallery/pic8.jpg" alt=""></a></div>
											</li>
											<li>
												<div><a href="#"><img src="/Layout/images/gallery/pic9.jpg" alt=""></a></div>
											</li>
											<li>
												<div><a href="#"><img src="/Layout/images/gallery/pic3.jpg" alt=""></a></div>
											</li>
											<li>
												<div><a href="#"><img src="/Layout/images/gallery/pic4.jpg" alt=""></a></div>
											</li>
										</ul>
									</div>
									<div class="widget widget_tag_cloud">
										<h6 class="widget-title">تگ‌ها</h6>
										<div class="tagcloud">
											<a href="#">طراحی</a>
											<a href="#">طراحی رابط کاربری</a>
											<a href="#">سئو</a>
											<a href="#">وردپرس</a>
											<a href="#">توسعه محصول</a>
											<a href="#">طراحی محصول</a>
											<a href="#">طراحی</a>
											<a href="#">طراحی رابط کاربری</a>
											<a href="#">سئو</a>
											<a href="#">وردپرس</a>
											<a href="#">توسعه محصول</a>
											<a href="#">طراحی محصول</a>
											<a href="#">طراحی</a>
											<a href="#">طراحی رابط کاربری</a>
											<a href="#">سئو</a>
											<a href="#">وردپرس</a>
											<a href="#">توسعه محصول</a>
											<a href="#">طراحی محصول</a>
										</div>
									</div>
								</aside>
							</div>
							<!-- Side bar END -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content END-->
		<!-- Footer ==== -->
		<!-- Footer END ==== -->
		<!-- scroll top button -->
		<button class="back-to-top fa fa-chevron-up"></button>
	</div>
	<!-- External JavaScripts -->
	<script src="/Layout/js/jquery.min.js"></script>
	<script src="/Layout/vendors/bootstrap/js/popper.min.js"></script>
	<script src="/Layout/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="/Layout/vendors/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="/Layout/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
	<script src="/Layout/vendors/magnific-popup/magnific-popup.js"></script>
	<script src="/Layout/vendors/counter/waypoints-min.js"></script>
	<script src="/Layout/vendors/counter/counterup.min.js"></script>
	<script src="/Layout/vendors/imagesloaded/imagesloaded.js"></script>
	<script src="/Layout/vendors/masonry/masonry.js"></script>
	<script src="/Layout/vendors/masonry/filter.js"></script>
	<script src="/Layout/vendors/owl-carousel/owl.carousel.js"></script>
	<script src="/Layout/js/functions.js"></script>
	<script src="/Layout/js/contact.js"></script>
	<script src='/Layout/vendors/switcher/switcher.js'></script>


